@import '../../../index.scss';

nav {
    position: fixed;  
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color1;

    ul {
        display: flex;
        flex-flow: row nowrap;
        li {
            display: flex;
            a {
                font-size: 20px;
                padding: 20px;
                color: $color3;
                text-decoration: none;
                transition: background-color ease-in-out 200ms;
                &:hover {
                    background-color: $color3;
                    color: $color1; 
                }
            }
        }
    }
}